.dropdown {
    position: relative;
    width: fit-content;

    & .dropdown-menu {
        font-size: .75rem;
        display: none;
        flex-direction: column;
        gap: .25em;
        position: absolute;
        padding: .5em .75em;
        border-radius: .5em;
        min-width: 125px;

        & .dropdown-item {
            padding: .5em;
            border-radius: .5em;
        }
    }
}