input[type="text"],
input[type="date"],
input[type="number"] {
    background-color: white;
    border-radius: .25em;
    height: 2em;
    padding: .5em;
    appearance: none;
    outline: none;
    line-height: 1;
    box-sizing: border-box;
    box-shadow: 1px 2px .2rem rgba(0,0,0,.1);
    color: black;

    &:focus {
        box-shadow: 1px 2px .3rem rgba(0,0,0,.25);
    }
}

.search-box {
    position: relative;
    
    &::before {
        content: '\f002';
        font-family: 'FontAwesome';
        position: absolute;
        top: 10%;
        left: 2%;
        width: 16px;
        height: 16px;
        color: dimgrey;
    }

    & input[type="text"] {
        padding-left: 1.5em;
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 1px 2px rgba(0,0,0,.1);

    &:checked::before {
        content: '\f00c'; /* Unicode character for checkmark */
        font-family: 'FontAwesome';
        position: absolute;
        color: white;
        background-color: royalblue;
        border-radius: .25em;
        left: 0;
        top: 0;
        height: 1.25em;
        width: 1.25em;
        border-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}