aside:has(nav) {
    width: var(--sidebar-width);
    position: fixed;
    box-sizing: border-box;
    top: var(--body-padding);
    height: calc(100% - (var(--body-padding) * 2));
    background-color: aquamarine;
    display: none;
}

@media (min-width: 768px) {

    aside:has(nav) {
        display: block;
    }
}