
header:has(nav) {
    position: sticky;
    top: var(--body-padding);
    z-index: 10;
}

#menuToggler {
    display: flex;
    width: 32px;
    align-items: center;
    justify-content: center;
    position: relative;

    & .side-container {
        position: absolute;
        top: -10%;
        left: -100%;
        width: 1.35em;
        height: 2.75em;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-image: linear-gradient(-60deg, crimson, navy);
    
    }
}

#sideMenuToggler {
    display: none;

    & ~ label {
        content: ''; 
        width: 1.25em;
        height: .25em;
        position: absolute;
        top: 35%;
        left: 0;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            width: 1em;
            height: .25em;
            background-color: ghostwhite;
            border-radius: .75em;
            position: absolute;
            left: 15%;
            cursor: pointer;
            transition: all .5s ease;
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 240%;
            transform: rotate(-45deg);
        }
    }

    &:checked {
        
        & ~ label {

            &::before {
                top: 0;
                transform: rotate(-45deg);
            }
    
            &::after {
                top: 240%;
                transform: rotate(45deg);
            }
        }
    }
}

#topMenuToggler {

    display: none;

    & ~ label {
        content: '';
        width: 1.5em;
        height: .25em;
        background-color: honeydew;
        border-radius: .75em;
        position: absolute;
        top: 45%;
        cursor: pointer;
        transition: all .5s;

        &::before,
        &::after {
            content: '';
            width: 1.5em;
            height: .25em;
            background-color: honeydew;
            border-radius: .75em;
            position: absolute;
            transition: all .5s;
            transform: rotate(0deg);
        }

        &::before {
            top: -200%;
            transform-origin: top left;
        }

        &::after {
            top: 200%;
            transform-origin: bottom left;
        }
    }

    &:checked {
        
        & ~ label {
            
            background-color: transparent;

            &::before{
                transform: rotate(45deg);
            }
            
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
}

header:has(nav) nav {
    background-image: linear-gradient(to right, darkturquoise, cornflowerblue , navy);
    color: honeydew;
    border-radius: 1rem;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;

    & a.brand {
        position: relative;
        min-width: 72px;
        min-height: 36px;
        font-size: 1.5em;
        font-weight: 800;
        background: linear-gradient(45deg, ghostwhite, white, whitesmoke);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: rotate(0deg);
        transition: all .5s;

        &:hover {
            background: linear-gradient(45deg, gainsboro, whitesmoke, silver);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: rotateY(360deg);
        }
    }

    & ul.menu {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        gap: 1em;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-image: linear-gradient(to right, darkturquoise, cornflowerblue , navy);
        top: 150%;
        left: 1em;
        border-radius: 1rem;
        width: calc(100% - 1em);
        padding: 1rem 0;
        transition: top .5s ease;

        &.appear {
            visibility: visible;
            top: 105%;
        }

        & li:hover,
        & li.active {
            color: cyan;
        }
    }

    & section.action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;

        & .user-image {
            background-color: whitesmoke;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            overflow: hidden;

            & img {    
                object-fit: cover;
            }
        }

        & .user-info {
            display: flex;
            flex-direction: column;

            & .username {
                font-size: 12px;
            }
            
            & .user-role {
                font-size: 10px;
            }
        }

        & .dropdown {
            
            & .dropdown-button * {
                transform: rotate(0deg);
                transition: transform .5s ;
            }

            & .dropdown-menu {        
                background-color: aliceblue;
                color: slateblue;

                &  .dropdown-item:hover {
                    color: aliceblue;
                    background-color: slateblue;
                }
            }

            &:hover .dropdown-button * {
                transform: rotate(180deg);
            }
            
            &:hover .dropdown-menu {
                display: flex;
            }
        }

        
    }
}

@media (min-width: 768px) {

    header:has(nav) {
        margin-left: calc(var(--sidebar-width) + var(--body-padding));

        & nav {
            margin-left: 0;
        }

        & nav ul.menu {
            visibility: visible !important;
            flex-direction: row;
            position: relative;
            background-image: none;
            width: fit-content;
            padding: 0 0;
        }
    }

    #menuToggler {
        display: none;
    }
}